body {
  background: url("assets/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-size: 20px;
	font-family: 'Merriweather', serif;
	color: #ffffff;
	text-align: center; 
		}


h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	color: #ffffff;
	margin-bottom: 50px;
}

main {
	width: 800px;
	margin: 0 auto;
}

p {
	padding: 10px;
}

#logo {
background-image: url("assets/logo.png");
background-repeat: no-repeat;
height: 100px;
width: 350px;
margin: 0;
}